<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd">
 
<!--  <bean id="test" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
<property name="serviceUrl" value="rmi://localhost:1099/test"/>
<property name="serviceInterface" value="test.test"/>
</bean> -->

<!-- <bean id="test2" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
<property name="serviceUrl" value="rmi://localhost:1099/test2"/>
<property name="serviceInterface" value="test.test2"/>
</bean> -->

<bean id="linkMpdService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
<property name="serviceUrl" value="rmi://localhost:1099/linkMpdService"/>
<property name="serviceInterface" value="com.uit.sharingvideo.services.LinkMpdService"/>
</bean>

<bean id="commentService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
<property name="serviceUrl" value="rmi://localhost:1099/commentService"/>
<property name="serviceInterface" value="com.uit.sharingvideo.services.CommentService"/>
</bean>
 

<bean id="videoService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
<property name="serviceUrl" value="rmi://localhost:1099/videoService"/>
<property name="serviceInterface" value="com.uit.sharingvideo.services.VideoService"/>
</bean>

<bean id="recommendService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
<property name="serviceUrl" value="rmi://localhost:1099/recommendService"/>
<property name="serviceInterface" value="com.uit.sharingvideo.services.RecommendService"/>
</bean>

<!-- port 1098 cho encode -->
<bean id="uploadService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
<property name="serviceUrl" value="rmi://localhost:1098/uploadService"/>
<property name="serviceInterface" value="com.uit.sharingvideo.services.UploadService"/>
</bean>
</beans>